.login-container {
    width: 600px;
    border: 1px solid #95A0A7;
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.login-title {
    color: #2A414F;
    font-size: 35px;
    font-weight: 400;
}

.input-group {
    margin-bottom: 10px;
}

.input-group label {
    display: block;
    font-size: 17px;
}

.input-group input {
    width: 415px;
    height: 55px;
    border: 1px solid #95A0A7;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 22px;
}

.login-btn {
    width: 415px;
    height: 55px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 153, 0, 0.3);
    font-size: 21px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.input-link {
    color: rgba(255, 153, 0, 1);
    text-decoration: none;
    margin-left: 10px;
}