.review-item {
    border: 1px solid gainsboro;
    border-radius: 8px;
    padding: 8px;
    margin-top: 21px;
    width: 571px;
    display: flex;
    align-items: center;
}

.review-item img {
    margin-right: 10px;
    height: 91px;
    width: 91px;
}

.item-detail p {
    margin: 0;
    padding: 0;
}

.item-details-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.delete-button {
    background-color: rgba(235, 87, 87, 0.3);
    border: 0;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    cursor: pointer;
}

.delete-icon {
    font-size: 27px;
    color: rgba(235, 87, 87, 1);
}